<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$FxDocumentsTigoTest2</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fxdocumentstigotest2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a1e8910b-b7a1-4d56-ba5c-1b08085718a4/resourceGroups/desa_factura_electronica/providers/Microsoft.Web/sites/FxDocumentsTigoTest2</ResourceId>
    <_SavePWD>True</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://fxdocumentstigotest2.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>